table{
  width:598px;
  margin-left: auto;
  margin-right: auto;
  border-collapse:collapse;
}

th,td{
  text-align: center;
  border-bottom:1px solid gray;
  background-color: white;
}
tr:nth-child(odd) td{
  background-color: gainsboro;
}
h1{
  font-size: 23px;
}
.container{
  width:600px;
  /* text-align: center;  */
  margin:0 auto;
} 
.sarch{
  width: 600px;
  text-align: center; 
  margin:0 auto;
}
form{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
}
input{
  width:250px;
  border-radius: 3px;
  display:inline-block;
}
select{
  width:250px;
  border-radius: 3px;
  height: 25px;
}
textarea{
  width:250px;
  border-radius: 3px;
}
button{
  border-radius: 3px;
  margin:5px;
}
button:hover{
  background-color:beige;
}
.sarch-btn{
  border:1px solid gray;
  background-color: gainsboro;
}

.entry-btn{
  border: none;
  background-color: orange;
}
.update-btn{
  border: none;
  background-color: orange;
}

.more-btn{
  border: none;
  background-color: skyblue;
  color: blue;
}

.delete-btn{
  border: none;
  background-color: red;
  color:white;
}
.return-btn{
  border: none;
  background-color: skyblue;
  color:blue;
}
.lists{
  height: 400px;
  border: 1px solid gray;
}

ul,li{
  list-style:none;
  text-align: left;
  padding-inline-start:0px;
  margin:0px;
  padding:5px 0;
}
label{
  display:inline-block;
  width:110px;
}
span{
  color:red;
}

.btn-section{
  margin: 30px 0 0 0;
}
.new-contents{
  width: 400px;
  margin:0 auto;
  
}
.form_frame{
  width:400px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 3px;
}
.section{
  display:inline-block;
  border: 1px solid gray;
  width: 230px;
  border-radius: 3px;
}
img{
  width:40px;
}
.error{
  color:red;
  font-size:12px;
}
/* .contents_header{

} */
.header_btn{
  float:right;
  text-align: right;
  
}
.logout_btn{
  background-color: white;
  border: 1px solid gray;
}

.list_h1{
  display: inline;
}

.pagination{
  text-align: center;
}
.pagination li{
  display: inline-block;
 
}